.desktopIconContainer {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
  height: 100%;

  .folderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  .folderContainer p {
    color: rgba(54, 29, 199, 1);
    font-size: 1.3rem;
  }

  .img {
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}
