.container {
  display: flex;
  width: 80%;
  height: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 47%;
  display: flex;
  gap: 10px;
}

.item img {
  width: 50px;
}

.skillLevelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.progressBar {
  width: 90%;
  height: 8px;
  border-radius: 10px;
  border: solid 3px rgba(54, 29, 199, 1);
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: rgba(255, 198, 251, 1);
}

h4 {
  color: rgba(54, 29, 199, 1);
  padding: 0;
  margin: 0;
}
