.stickyNavbar {
  z-index: -1;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 79px;
  background-color: #361dc7;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 30px;
  padding-right: 30px;

  /* Add additional styling as needed */
}

.stickyNavbar div {
  color: white;
  display: flex;
  align-items: center;
}

.middleIcons {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.startIcons {
  width: 25%;
  gap: 40px;
}

.endIcons {
  display: flex;
  justify-content: end;
  width: 25%;
  gap: 40px;
}

.searchInput {
  box-sizing: border-box;
  border-radius: 30px;
  height: 30px;
  width: 100%;
  border: none;
  border: 2px solid rgba(54, 29, 199, 1);
  border-color: rgba(54, 29, 199, 1);
}

.startIcons img {
  width: 35px;
}
